<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro item</title>
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/cadastro_item.css">
    <link rel="stylesheet" href="../style/pesquisa_item.css">
</head>
<body>
    <div class="div_relatorios">
        <table>
            <thead>
                <td>
                    <th>Valor total em estoque (R$)</th>
                </td>
                <td>
                    <th> Total de itens em estoque </th>
                </td>
                <td>
                    <th> Itens acabando </th>
                </td>
                <td>
                    <th> Itens vencendo </th>
                </td>
            </thead>
            <tbody>
                <td>
                    <th> 5400,00 R$</th>
                </td>
                <td>
                    <th> 1300 </th>
                </td>
                <td>
                    <th> 100 </th>
                </td>
                <td>
                    <th> 30 </th>
                </td>
            </tbody>
        </table>
    </div>
    <header>
        <h1 class="titulo_principal">BEM-VINDO</h1>
         <nav>
            <a class="cadastrar" href=""><b>Cadastrar</b></a>
            <a class="pesquisar" onclick="criar_pesquias()"><b>Pesquisar</b></a>
            <a class="deletar" onclick="criar_deletar()"><b>Deletar</b></a>
            <a class="atualizar" onclick="criar_atualizar()"><b>Atualizar</b></a>
        </nav>
    </header>
    <main id="principal">
        <h2 id="titulo_funcao" class="titulo">Cadastro</h2>
        <form id="form">
            <div id="div1">
                <label for="nome_produto">Nome do produto:</label>
                <input name="nome_produto" type="text" required>

                <label for="data_validade">Data de validade:</label>
                <input name="data_validade" type="date" required>

                <label for="marca">Marca:</label>
                <input marca="marca" type="text" required>

                <label for="quantidade">Quantidade:</label>
                <input name="quantidade" type="number" min="1" required>
            </div>
            <div id="div2">
                <label for="peso_produto">Peso do produto:</label>
                <input name="peso_produto" type="number" min="1" required>

                <label for="unidade">Unidade: </label>
                <select name="unidade" required>
                    <option value="kg">Kg</option>
                    <option value="g">g</option>
                    <option value="l">L</option>
                    <option value="ml">ml</option>
                    <option value="un">un</option>
                </select>

                <label for="valor">Valor:</label>
                <input name="valor" type="number" required>

                <button type="submit">Cadastrar produto</button>
            </div>
        </form>
    </main>
    <script src="../static/javascript/cadastro_item.js"></script>
    <script src="../static/javascript/pesquisa.js"></script>
    <script src="../static/javascript/deletar.js"></script>
    <script src="../static/javascript/atualizar.js"></script>
</body>
</html>