:root{
    --buttons: rgb(6, 119, 128);
    --buttons_dois: #8b8686;
    --cor-buttons-nav: whitesmoke;  
    --pesquisar: rgb(212, 104, 3);
    --deletar: rgb(175, 2, 2);
}

body{
    z-index: 0;
    background-color: whitesmoke;
}

.div_relatorios{
    display: flex;
    justify-content: right;
}

table thead th{
    background-color: #0097b2;
}

table th{
    border: 1px solid black;
    padding: 10px;
    font-size: 1.4em;
}

header{
    position: relative;
    z-index: 2  ;
    top: 3vh;
}

.titulo_principal{
    padding-left: 20%;
}

nav{
    position: relative;
    display: flex;
    justify-content: right;
    margin-right: 8%;
    align-items: center;
    gap: 15px;
}

 .cadastrar, .deletar, .atualizar, .pesquisar{
    text-decoration: none;
    color: var(--cor-buttons-nav);
    background-color: var(--buttons_dois);
    border-radius: 3px; 
    padding: 2%;
    color: rgb(24, 22, 22);
    font-size: 1.6em;
 }

 nav a:hover{
    position: relative;
    top: 20px;
    transform: scale(1.1);
 }

main{
    z-index: 1;
    left: 7%;
    position: relative;
    width: 85vw;
    height: 70vh;
    border: 1px solid black;
    border-radius: 5px;
}

.titulo{
    margin-left: 20%;
    font-size: 2.4em;
}

form{
    display: flex;
   justify-content: space-around;
   align-items: center;
   height: 80%;
}

form div{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 90%;   
}

label{
    margin-top: 1%;
    height: 10%;
    background-color: rgb(4, 100, 4);
    color: white;
    padding-top: 2%;
    font-size: 1.6em;
    width: 60%;
    border-radius: 5px;
    margin-bottom: 2%;
}

input{
    height: 10%;
    margin-bottom: 1%;
    font-size: 1.2em;
    width: 80%;
}

select{
    height: 10%;
    width: 80%;
}

button{
    background-color: aquamarine;
    height: 10%;
    font-size: 1.3em;
    border: none;
}
button:hover{
    background-color: blue;
}